<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>学习笔记</title>
</head>
{% extends "learning_logs/base.html" %}

{% block header %}
    <h1>主题</h1>
{% endblock header %}

{% block content %}

<ul>
    {% for topic in topics %}
    <li>
        <h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3>
    </li>
    {% empty %}
    <li>目前还没有添加任何主题。</li>
    {% endfor %}
</ul>
<h3><a href="{% url 'learning_logs:new_topic' %}">添加一个新主题:</a></h3>

{% endblock content %}
<html/>